/* form size*/
body 
{
	 		
    padding: 30px;

}
p,form,header, h1, div, input
{
/* aligns form contents to center */
	align-self: center;
		
   /* changes text color to green */
    color: green;


}


