/* form size*/
body 
{
	 		
	 	padding: 30px;

}
p,form,header, h1, input
{
/* aligns form contents to center */
	align-self: center;
		
   /* changes text color to green */
  color: green;


}
   /* text area size  and position */ 
.answer
{
    
  padding: 2px;
	margin: 10px;
    	
}
    /* widens text box */
.name
{

  width: 500px;

}
